
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Oxygen:wght@700&display=swap');

/*...............................colours*/



#address {
    background-color: lavenderblush;
}

#nav  {
    background-color:sandybrown;
}

#name-nav {
background-color:sandybrown;
}

.list-inline-item i {
    color: #fafafa;
}

.menuitem span {
    color: #fafafa;
}

/*...............................header*/

header {
    margin: 0;
   width: 100%;
   padding: 0;
  
}

.col-md-3 logo {
    object-fit: cover;
     contain: content;
}
.list-inline-item:not(:last-child) {
    margin: 0;
    
}
.menucontainer {
font-size: 0;
}



#name-nav {
  
    text-align: center;
    padding-bottom: 5px;
    padding-top: 5px;
  
}

#name-nav h1 {
    font-size: 60px;
    text-align: center;
    font-weight: 600;
    font-family: "Oxygen", sans-serif; 
    letter-spacing: 16px;
}







.menuitem a {
    width: 100%;
    text-decoration: none;
    height: 40px;
}

.menuitem a i {
    padding-top: 18px;
    display: block;
    font-size: 24px;
}

.menuitem span {
    display: block;
    width: 100%;
    padding-top: 8px;
    text-align: center;
    text-transform: uppercase;
    font-size: 22px;    
    font-weight: 400;
}
#address{
    display: inline;
    position: relative;
    margin: 0;
    padding-top: 18px;
    
}

#address h3 p {
    text-align: left;
    padding-top: 18px;
    padding-left: 4px;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
}


#nav {
    padding: 0;
    position: relative;
    min-height: 80px; 
    align-content: center;
}


#about-us {
      display: inline-block;
         position: relative;
    align-content: center;
    margin: 10px 0 10px 0px;

}
   

#about-us p {
    text-align: center;
    font-family:  "Montserrat", sans-serif;
    font-size: 24px;
    padding-top: 20px;

}


/*...............................logo*/

.logo  {
    background: url(../assets/logo/pawsparlourlogo.jpg);
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
  

}
    
/*...............................media queries*/

@media(min-width: 992px) {
    .center-form {
        padding-top: 30px;
        min-height: 240px;
        margin: 0 auto;
        max-width: 50%;
    }
}
