
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Oxygen:wght@700&display=swap');

 
/*...............................colours*/



#address {
    background-color: lavenderblush;
}

#nav  {
    background-color:rgb(5, 30, 107);
}

#name-nav {
background-color:rgb(5, 30, 107);
}

.btn {
    background-color:rgb(5, 30, 107); 
}
footer { background-color:rgb(5, 30, 107); }


.list-inline-item i {
    color: #fafafa;
}

.menuitem span {
    color: #fafafa;
}


/*...............................Special characteristics*/

.content-divide {
    width: 75%;
    line-height: 14px;
    height: 14px;
    color: rgb(5, 30, 107);
    padding-top: 6px;
    padding-bottom: 6px;
}

/*...............................logo*/

.logo  {
    background: url(../assets/logo/pawsparlourlogo.jpg);
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
}

/*...............................header*/

header {
    margin: 0;
   width: 100%;
   padding: 0;
  
}

.col-md-3 logo {
    object-fit: cover;
     contain: content;
}
.list-inline-item:not(:last-child) {
    margin: 0;
    
}
.menucontainer {
font-size: 0;
}



#name-nav {
  
    text-align: center;
    padding-bottom: 5px;
    padding-top: 5px;
  
}

#name-nav h1 {
    font-size: 40px;
    text-align: center;
    font-weight: 600;
    font-family: "Oxygen", sans-serif; 
    letter-spacing: 16px;
    color: #fafafa;
}







.menuitem a {
    width: 100%;
    text-decoration: none;
    height: 30px;
}

.menuitem a i {
    padding-top: 8px;
    display: block;
    font-size: 18px;
}

.menuitem span {
    display: block;
    width: 100%;
    padding-top: 8px;
    text-align: center;
    text-transform: uppercase;
    font-size: 16px;    
    font-weight: 400;
}


/*...............................address*/

#address{
   
    position: sticky;
    display: inline;
    margin: 0;
    padding-top: 18px;
  
    
}

#address h3 {
    text-align: left;
    font-weight: 600;
    font-family: "Oxygen", sans-serif; 
    letter-spacing: 4px;
    padding-bottom: 30px;
}

#address h3 p {
    text-align: left;
    padding-top: 18px;
    padding-left: 4px;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
}


/*...............................body content*/

#about-us  {
      display: inline-block;
         position: relative;
         margin: 0;
         align-items: center;
  
   
}
   

#about-us p {
    text-align: center;
    font-family:  "Montserrat", sans-serif;
    font-size: 28px;
    padding-top:20px;
    padding-left: 14px;
    padding-right: 14px;
    padding-bottom: 10px;
         align-content: center;

}




/*.................................Reviews*/

#reviews {
    padding-top: 24px;
    padding-left: 30px;
     align-content: center;
}
#reviews col-5 {
    margin: 5,5,5,5;
    display:inline-block;
    padding-top: 14px;
    padding-left: 20px;
    text-align: center;
   

}

#reviews p {
    font-size: 18px;
    font-family:  "Montserrat", sans-serif;
    padding-left: 14px;
}
    
 #reviews p span {

     font-size: 14px;
     font-family: "Oxygen", sans-serif; 
     font-style: bold; 
     text-align: right;
 }   

/*...............................footer*/
.social-media li {
    padding-left: 12px;
    padding-right: 6px;
}

.social-media a i {
    height: 20px;
}

/*....................................gallery*/

#photos {
  clear: both; 
 line-height: 0;
column-count: 5;
    column-gap: 0px;
}

#photos img {
    width: 100%;
    padding: 0;}

    .zoom:hover {
  transform: scale(1.4);
  border: 8px solid;
  border-color: rgb(5, 30, 107);
   /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}





/*...............................contact form*/
#form {
    padding-top: 20px;
    padding-bottom: 20px;
    display: inline-block;
    }

#form label {
    padding-left: 20px;
    font-family: "Oxygen", sans-serif; 
    font-size: 18px;
}

#input-fields {
    display: inline-block;
   
    }

#input-text {
    margin: 0 auto;
  text-align: center;
  display: inline-block;
  width: 100%;
  padding-left: 10px;
}

#text-area {
    display: inline-block;
}

.form-control {
  
 display: inline-block;
    padding-bottom: 8px;
    padding-top: 8px;
    align-content: center;
   }

#name{
    width: 50%;
    padding-left: 6px;
    padding-bottom: 6px;
}

#email {
    width: 50%;
    padding-left: 6px;
     padding-bottom: 6px;
}

#tel-no {
    width: 40%;
    padding-left: 6px;
     padding-bottom: 6px;
     padding-top: 12px;
}
.form-group {
    margin: 0 auto;
   align-content: center;
}

.form-group upload-img {
    display: inline-block;
}

#upload {
    padding-left: 14px;
}
#upload-img {
    padding-left: 30px;
}

.btn btn-primary btn-lg {
    display: inline-block;
    float: right;
}
/*...............................media queries*/

@media(min-width: 992px) {
    .center-form {
        padding-top: 30px;
        min-height: 240px;
        margin: 0 auto;
        max-width: 50%;
    }
}

@media(max-width: 768px) {
    #address {
        display: none;
    }
}

@media(max-width: 768px) {
    #reviews {
        display: none;
    }
}
