/*...............................colours*/

.col-md-8 {
   display: inline;
}

.col-md-4-contact-info {
    background-color: lavenderblush;
}

#nav  {
    background-color:sandybrown;
}

#name-nav {
background-color:sandybrown;

}

/*...............................header*/

header {
    margin: 0;
   
}

.list-inline-item:not(:last-child) {
    margin: 0;
}

.menucontainer {
    font-size: 0;
}

.row no-gutters {
   object-fit: fill;
    contain: content;
    position: relative;
}
#name-nav {
  
    text-align: center;
    padding-bottom: 5px;
    padding-top: 5px;
    min-height: 160px;
}

#name-nav h1 {
    font-size: 60px;
    text-align: center;
}
#nav li {
   font-size: 18px;
    padding: 0;
}


.address-info {
    display: inline-block;
    position: relative;
}
.col-md-4-contact-info {
    display: inline-block;
    text-align: center;
    padding-left: 25px;
    position: relative;
   
}

#nav {
    padding: 0;
    position: relative;
    min-height: 80px; 
    align-content: center;
}


#about-us {
      display: inline-block;
         position: relative;
   width: 60%; 
    align-content: center;
}

#about-us h2 {
    padding-left: 25px;
    padding-top: 10px;
    text-align: center;
}

/*...............................logo*/

.logo  {
    background: url(../assets/logo/pawsparlourlogo.jpg);
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
    min-height: 160px;
    


}

